div {
    outline: 1px solid red;
}

.container {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: aqua;
    height: 200px;
    width: 100%;
}

.yellow {
    width: 440px;
    height: 360px;
    background-color: yellow;
    margin: 10px;   
    float: left;
}

.box_1 {
    width: 920px;
    height: 400px;
    background-color: burlywood;
}

.footer {
    height: 200px;
    width: 920px;
    float: left;
    background-color: aquamarine;
    
}