div {
    outline: 1px solid black;
}

.container {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: blue;
    height: 200px;
    width: 460px;
    float: left;
    
}

.logo {
    background-color: yellow;
    width: 160px;
    height: 160px;
    float: right;
    margin-right: 20px;
    margin-right: 20px;
    margin-top: 20px;
    
}

.logo_2 {
    background-color: yellow;
    width: 160px;
    height: 160px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    
}


.green_box {
    background-color: green;
    height: 400px;
    width: 920px;
}

.red_box {
    background-color: red;
    height: 470px;
    width: 920px;
}

.smallbox {
    background-color: yellow;
    height: 205px;
    width: 205px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.bigbox {
    background-color: yellow;
    height: 205px;
    width: 430px;
    float: left;
    margin-left: 20px;
}

.footer {
    height: 200px;
    width: 920px;
    float: left;
    background-color: green;
    
}